@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&family=Sue+Ellen+Francisco&family=Ubuntu&display=swap");
@import "loaders.css/src/animations/pacman.scss";
@import "loaders.css/src/animations/ball-pulse.scss";

/* Resets and loader */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  transform: scale(0.5);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
a {
  outline: none;
  border: none;
  text-decoration: none;
}

button:disabled {
  background: #8d99ae !important;
}

/* ----------------- */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.title {
  display: flex;
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 1rem;
  overflow: auto;
  text-align: center;
  color: #2b2d42;
  text-shadow: 1px 1px 3px #5e6674;
  letter-spacing: 0.1em;
  
  .info {
    border-radius: 35%;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-inline: 20px;
    
    &:hover {
      transform: scale(1.2);
    }
  }
  
}

.wrapper {
  width: 80%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
  background: #2b2d42;
  
  .quote-wrapper {
    width: calc(100% - 120px);
    height: auto;
    color: #f5f5f5;
    padding: 30px;
    border-bottom: 3px solid #f5f5f5;
    overflow: auto;
    
    @media screen and (max-width: 1200px) {
      padding: 25px;
      width: calc(100% - 115px);
    }
    
    @media screen and (max-width: 600px) {
      padding: 20px;
      width: calc(100% - 60px);
    }
    
    @media screen and (max-width: 425px) {
      padding: 15px;
      width: calc(100% - 40px);
    }
    
    .quote {
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      line-height: 1.5em;
      font-weight: 300;
      margin-bottom: 20px;
      
      @media screen and (max-width: 425px) {
        margin-top: 25px;
        line-height: 23px;
      }
    }
    
    .origin {
      font-family: "Ubuntu", sans-serif;
      text-align: right;
      font-size: 1em;
      margin-top: 100px;
      overflow: auto;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    
    button,
    a {
      border-radius: 6px;
      cursor: pointer;
      font-size: 24px;
      transition: all 0.2s ease;
      padding: 10px 30px;
      text-align: center;
      
      @media screen and (max-width: 1200px) {
        padding: 9px 28px;
      }
      
      @media screen and (max-width: 600px) {
        padding: 8px 25px;
      }
      
      @media screen and (max-width: 425px) {
        padding: 6px 25px;
      }
      
      &:hover {
        transform: scale(1.09);
      }
      
      &:nth-child(1) {
        background: crimson;
      }
      
      &:nth-child(2) {
        background: blue;
      }
      
      &:nth-child(3) {
        background: #00b894;
      }
    }
  }
}

.contributors {
  height: auto;
  max-width: 500px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #000;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  
  @media screen and (max-width: 1200px) {
    width: 82%;
    left: 9%;
  }
  
  @media screen and (max-width: 600px) {
    width: 80%;
    left: 10%;
  }
  
  @media screen and (max-width: 425px) {
    width: 80%;
    left: 10%;
  }
  
  // Media Queries for Height
  
  @media screen and (max-height: 1500px) {
    top: 39%;
  }
  
  @media screen and (max-height: 1200px) {
    top: 37%;
  }
  
  @media screen and (max-height: 990px) {
    top: 35%;
  }
  
  @media screen and (max-height: 890px) {
    top: 33%;
  }
  
  @media screen and (max-height: 750px) {
    top: 29%;
  }
  
  &.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .contributor-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    text-decoration: underline;
    
  }
  
  span {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .contributor {
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    flex: 1 1 20%;
    width: 52%;
    padding: 20px 10px;
    border-radius: 10px;
    
    &:hover {
      background: rgba(255, 255, 255, 0.7);
    }
    
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 5px;
    }
    
    span {
      margin: 5px;
      font-family: 'Ubuntu', sans-serif;
    }
  }
}

.hidden {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  color: transparent;
  top: -100%;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.showToast {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}