@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&family=Sue+Ellen+Francisco&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "loaders.css/src/animations/pacman.scss";
@import "loaders.css/src/animations/ball-pulse.scss";

/* Resets and loader */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  transform: scale(0.5);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
a {
  outline: none;
  border: none;
  text-decoration: none;
}

/* ----------------- */

.App {
  padding: 20px 10px 0px ;
  overflow: hidden;
  height: 100vh;
  background:url('./assets/images/body-bg.jpg');
  background-size: cover;
  .buttons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 140px;
    background: #12121280;
    
    button,
    a {
      cursor: pointer;
      font-size: 24px;
      transition: all 0.2s ease;
      padding: 10px 30px;
      text-align: center;
      background: none;
      
      @media screen and (max-width: 1200px) {
        padding: 9px 28px;
      }
      
      @media screen and (max-width: 600px) {
        padding: 8px 25px;
      }
      
      @media screen and (max-width: 425px) {
        padding: 6px 25px;
      }
      
      &:hover {
       &>svg{
        color: #aaaaaa;
       }
      }
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Pacifico',Sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1rem;
  overflow: auto;
  letter-spacing: 0.1em;
}
.info {
  font-family: 'Lato',Sans-serif;
  border-radius: 35%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-inline: 20px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
  margin: 0 auto;
  .quote-wrapper {
    width: 100%;
    height: auto;
    color: #121212;
    overflow: auto;
    
    @media screen and (max-width: 1200px) {
      padding: 25px;
      width: calc(100% - 115px);
    }
    
    @media screen and (max-width: 600px) {
      padding: 20px;
      width: calc(100% - 60px);
    }
    
    @media screen and (max-width: 425px) {
      padding: 15px;
      width: calc(100% - 40px);
    }
    
    .quote {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 3em;
      
      @media screen and (max-width: 425px) {
        margin-top: 25px;
        font-size: 2.5em;
      }
    }
    
    .origin {
      font-family: "Ubuntu", sans-serif;
      text-align: right;
      font-size: 1.25em;
      margin-top: 50px;
      overflow: auto;
      //padding-right: 0.25em;
    }
  }
  
}

.contributors {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: #000000d4;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  overflow: scroll;
  &.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .contributor-title {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    //text-decoration: underline;
    
  }
  
  span {
    width: 100%;
    text-align: center;
    margin: 10px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
    &:hover {
      background: rgba(255, 255, 255, 0.7);
    }
    
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    
    span {
      font-family: 'Ubuntu', sans-serif;
    }
  }
}

.hidden {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  color: transparent;
  top: -100%;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.showToast {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}